<ion-view view-title="DriveTime">
  <ion-content class="padding main">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-energized" ng-click="login()"><span class="darktext">Login</span></button>
    Don't have an account? <a ui-sref="register" class="darktext">Register Here</a>
  </ion-content>
</ion-view>
