<ion-view view-title="DriveTime">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        ***GRAPH ON A CARD***
        <img src="https://placekitten.com/320/200">
      </div>
    </div>
    <p>Best times to drive at {user.airport}</p>
  <div class="row">
    <div class="col">
      {time one}
    </div>
    <div class="col">
      {time two}
    </div>
    <div class="col">
      {time three}
    </div>
  </div>
  </ion-content>
  <div style="position: absolute; bottom: 40px; width: 100%" class="padding">
    <button class="button button-block button-balanced" ng-click=""><ion-icon class="ion-refresh"></ion-icon></button>
  </div>
</ion-view>
