<ion-view view-title="Concerts">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">
        Red Rocks
      </div>
      <a class="item" href="">
        Railroad Earth: 12:00am
      </a>
      <!-- <a class="item" href="#">
        9/17 - Lotus: 12:00am
      </a>
      <a class="item" href="#">
        9/18 - Ray LaMontagne: 10:00pm
      </a> -->
    </div>
    <div class="list">
      <div class="item item-divider">
        Fiddler's Green
      </div>
      <!-- <a class="item" href="#">
        9/22 - Florida Georgia Line: 10:00pm
      </a>
      <a class="item" href="#">
        9/28 - Mumford and Sons: 10:00pm
      </a>
      <a class="item" href="#">
        9/29 - Mumford and Sons: 10:00pm
      </a> -->
    </div>
    <div class="list">
      <div class="item item-divider">
        1st Bank Center
      </div>
      <!-- <a class="item" href="#">
        9/24 - Gavin Degraw: 11:00pm
      </a>
      <a class="item" href="#">
        9/25 - Live Original: 9:00pm
      </a>
      <a class="item" href="#">
        9/29 - Dancing with the Stars: 10:00pm
      </a> -->
    </div>
    <img class="soundkick" src="../img/powered-by-songkick-black.png">
  </ion-content>
</ion-view>
