<ion-view view-title="Concerts">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">
        Red Rocks
      </div>
      <a class="item" href="#">
        9/1 - Chainsmokers
      </a>
      <a class="item" href="#">
        9/2 - Atmosphere
      </a>
    </div>
    <div class="list">
      <div class="item item-divider">
        Fiddler's Green
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        1st Bank Center
      </div>
    </div>
  </ion-content>
</ion-view>
