<ion-view view-title="Account">
  <ion-content class="padding main">
    <ion-list>
      <ion-item class="item-icon-right">
        Username: daniel
        <div class="icon">
          <span class="ion-edit"></span>
        </div>
      </ion-item>
      <ion-item class="item-icon-right">
        Password: ****
        <div class="icon">
          <span class="ion-edit"></span>
        </div>
      </ion-item>
      <ion-item class="item-icon-right">
        Zip Code: 80210
        <div class="icon">
          <span class="ion-edit"></span>
        </div>
      </ion-item>
      <ion-item class="item-icon-right">
        Home Airport: DEN
        <div class="icon">
          <span class="ion-edit"></span>
        </div>
      </ion-item>
    </ion-list>
    <!-- <button class="button button-block button-positive" ng-click="edit=!edit">Edit</button> -->
  </ion-content>
  <div style="position: absolute; width: 100%" class="padding bottom">
    <button class="button button-block button-energized" ng-click="logout()"><span class="darktext">Logout</span></button>
  </div>
</ion-view>
