<ion-view view-title="Sports">
  <ion-content class="padding main">
    <div class="list">
      <div class="item item-divider">
        Colorado Rockies - Coors Field
      </div>
      <a class="item" href="../img/CoorsField.png">
        9/30 - Brewers: 6:10PM
      </a>
      <a class="item" href="../img/CoorsField.png">
        10/1 - Brewers: 6:10PM
      </a>
      <a class="item" href="../img/CoorsField.png">
        10/2 - Brewers: 1:10PM
      </a>
    </div>
    <div class="list">
      <div class="item item-divider">
        Denver Broncos - Mile High Stadium
      </div>
      <a class="item" href="../img/MileHigh.png">
        10/9 - Falcons: 2:05PM
      </a>
      <a class="item" href="../img/MileHigh.png">
        10/24 - Texans: 6:30PM
      </a>
      <a class="item" href="../img/MileHigh.png">
        10/30 - Chargers: 2:05PM
      </a>
    </div>
    <div class="list">
      <div class="item item-divider">
        Denver Nuggets - Pepsi Center
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Colorado Avalance - Pepsi Center
      </div>
    </div>
  </ion-content>
</ion-view>
