<ion-view view-title="Flights">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">
        Best times to drive at DEN
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <img src="http://Chartholdr.io/bar/320/250">
      </div>
    </div>
  <div class="row">
    <div class="col text-center">
      <h3>2:45pm</h3>
    </div>
    <div class="col text-center">
      <h3>9:30pm</h3>
    </div>
    <div class="col text-center">
      <h3>6:15pm</h3>
    </div>
  </div>
  </ion-content>
  <div style="position: absolute; width: 100%" class="padding bottomButton">
    <button class="button button-block button-positive" ng-click=""><ion-icon class="ion-refresh"> Refresh</ion-icon></button>
  </div>
</ion-view>
