<ion-view view-title="Sports">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">
        Denver Broncos
      </div>
      <!-- <a class="item" href="#">
        9/8 - 6:30PM
      </a>
      <a class="item" href="#">
        9/18 - 2:25PM
      </a> -->
    </div>
    <div class="list">
      <div class="item item-divider">
        Colorado Rockies
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Denver Nuggets
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Colorado Avalance
      </div>
    </div>
  </ion-content>
</ion-view>
