<ion-view view-title="DriveTime">
  <ion-content class="padding main">
    <div class="list">
      <div class="item item-divider item-icon-right">
        Colorado Rockies - Coors Field <i class="icon ion-map" ui-sref="tab.concerts-coorsfield"></i>
      </div>
      <div class="item">
        9/30 - Brewers: 6:10PM
      </div>
      <div class="item">
        10/1 - Brewers: 6:10PM
      </div>
      <div class="item">
        10/2 - Brewers: 1:10PM
      </div>
    </div>
    <div class="list">
      <div class="item item-divider item-icon-right">
        Denver Broncos - Mile High Stadium <i class="icon ion-map" ui-sref="tab.concerts-milehigh"></i>
      </div>
      <a class="item" href="../img/MileHigh.png">
        10/9 - Falcons: 2:05PM
      </a>
      <a class="item" href="../img/MileHigh.png">
        10/24 - Texans: 6:30PM
      </a>
      <a class="item" href="../img/MileHigh.png">
        10/30 - Chargers: 2:05PM
      </a>
    </div>
    <div class="list">
      <div class="item item-divider item-icon-right">
        Denver Nuggets - Pepsi Center <i class="icon ion-map" ui-sref="tab.concerts-pepsicenter"></i>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider item-icon-right">
        Colorado Avalance - Pepsi Center <i class="icon ion-map" ui-sref="tab.concerts-pepsicenter"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
