<ion-view view-title="DriveTime">
  <ion-content class="padding main">
    <div class="list">
      <div class="item item-divider item-icon-right">
        Denver International Airport <i class="icon ion-map dark" ui-sref="tab.dashboard-redrocks"></i>
      </div>
      <div class="item">
      <div class="row">
        <div class="col text-center">
          <h2>2:00 PM <i class="ion-flame assertive"></i></h2>
        </div>
        <div class="col text-center">
          <h2>9:00 PM</h2>
        </div>
        <div class="col text-center">
          <h2>6:00 PM</h2>
        </div>
      </div>
    </div>
    </div>
    <div class="list">
      <div class="item item-divider item-icon-right">
        Red Rocks <i class="icon ion-map dark" ui-sref="tab.dashboard-redrocks"></i>
      </div>
      <div class="item">
        G-Eazy: 11:00PM
      </div>
    </div>
    <div class="item item-divider item-icon-right">
      Fiddler's Green <i class="icon ion-map dark" ui-sref="tab.dashboard-fiddlers"></i>
    </div>
    <div class="item">
      Florida Georgia Line: 10:00PM
    </div>
  </ion-content>
</ion-view>
