<ion-view view-title="Today in Denver">
  <ion-content class="padding main">
    <div class="list">
      <div class="item item-divider">
        Denver International Airport
      </div>
      <div class="item">
      <div class="row">
        <div class="col text-center">
          2:45PM <span class="ion-flame"></span>
        </div>
        <div class="col text-center">
          9:30PM <span class="ion-flame"></span>
        </div>
        <div class="col text-center">
          6:15PM
        </div>
      </div>
    </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Red Rocks
      </div>
      <a class="item" href="#">
        G-Eazy: 11:00PM
      </a>
    </div>
    <div class="item item-divider">
      Fiddler's Green
    </div>
    <a class="item" href="#">
      Florida Georgia Line: 10:00PM
    </a>
  </ion-content>
</ion-view>
