<ion-view view-title="Flights">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">
        DEN - 9/16/16
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <img src="http://Chartholdr.io/bar/320/250">
      </div>
    </div>
  <div class="row">
    <!-- {{flightData}} -->
    <div class="col text-center">
      <h4>1.) 2:45pm</h4>
    </div>
    <div class="col text-center">
      <h4>2.) 9:30pm</h4>
    </div>
    <div class="col text-center">
      <h4>3.) 6:15pm</h4>
    </div>
  </div>
  </ion-content>
  <div style="position: absolute; width: 100%" class="padding bottom">
    <!-- <button class="button button-block button-positive" ng-click=""><ion-icon class="ion-refresh"> Refresh</ion-icon></button> -->
  </div>
</ion-view>
