<ion-view view-title="DriveTime">
  <ion-content class="padding main">
    <div class="list">
      <div class="item item-divider text-center item-icon-right">
        Denver International Airport <i class="icon ion-map balanced" ui-sref="tab.dashboard-dia"></i>
      </div>
      <div class="item-image">
        <img src="../img/dia.jpg">
      </div>
      <div class="item">
        <div class="row">
          <div class="col text-center">
            2:45PM <i class="ion-flame assertive"></i>
          </div>
          <div class="col text-center">
            9:30PM <i class="ion-flame assertive"></i>
          </div>
          <div class="col text-center">
            6:15PM
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card">
      <div class="item item-text-wrap">
        <img src="http://Chartholdr.io/bar/320/200">
      </div>
    </div> -->
  </ion-content>
  <div style="position: absolute; width: 100%" class="padding bottom">
    <!-- <button class="button button-block button-positive" ng-click=""><ion-icon class="ion-refresh"> Refresh</ion-icon></button> -->
  </div>
</ion-view>
